@tailwind base;
@tailwind components;
@tailwind utilities;

/* Print styles */
@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    font-size: 11px;
  }
}

.print-only {
  display: none;
}
